
@font-face {
  font-family: 'GTWalsheimPro-Bold';
  src: url('GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),  url('GTWalsheimPro-Bold.otf')  format('opentype'),
	     url('GTWalsheimPro-Bold.woff') format('woff'), url('GTWalsheimPro-Bold.ttf')  format('truetype'), url('GTWalsheimPro-Bold.svg#GTWalsheimPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
