@media (max-width: 1440px) {

  .main-content {
    line-height: 0;
    font-size: 0;
  }

  .main-cont_1 .big-block,
  .main-cont_2 .big-block {
    padding: 0 10px;
    box-sizing: border-box;
  }

  .main-cont_2 .many-articles {
    margin-right: 0;
  }

  .many-articles {
    margin-left: 0;
  }
}

@media (max-width: 1366px) {
  .article-photo-video .col.big span {
    margin-top: 0;
  }
}

@media (max-width: 1300px) {

  .main-cont_1 .many-articles li {
    width: 100%;
  }

  .many-articles li.other-li p {
    font-size: 26px;
    line-height: 39px;
    padding: 0 10px;
  }

  .many-articles li.other-li p.small-title {
    font-size: 12px;
    padding: 0;
    padding-bottom: 4px;
  }

  .many-articles li h5 {
    font-size: 20px;
  }

  .big-block h3 {
    font-size: 45px;
    line-height: 58px;
  }

  .many-articles.many-articles-2 li {
    width: 25%;
  }

  .main-cont_1 .many-articles {
    width: 25%;
  }

  .main-cont_1 .many-articles-2 {
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .search-quantity {
    margin-left: 0;
  }

  .menu {
    float: none;
  }

  p.copyr {
    text-align: center;
  }

  .design {
    display: block;
    float: none;
    text-align: center;
    padding-bottom: 50px;
  }

  .col .main-other p {
    font-size: 25px;
    line-height: 31px;
    padding: 0 10px;
  }

  .col .main-other p.small-title {
    font-size: 12px;
  }

  .article-photo-video .col.big h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}

@media (max-width: 998px) {
  .main-header {
    margin-bottom: 40px;
  }

  .big-block h3 {
    font-size: 40px;
    line-height: 48px;
  }

  p.small-title {
    margin-bottom: 15px;
  }

  .main-content h4 {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .many-articles-2 {
    padding: 0;
  }

  .many-articles-2 li {
    padding: 0 20px;
  }

  .slider-articles .owl-next,
  .slider-articles .owl-next:hover {
    right: 15px;
    width: 30px;
    height: 30px;
    background: url("../images/owl-next-mob.png") 0 0 no-repeat;
  }


  .slider-articles .owl-prev,
  .slider-articles .owl-prev:hover {
    left: 15px;
    width: 30px;
    height: 30px;
    background: url("../images/owl-prev-mob.png") 0 0 no-repeat;
  }

  .slide-photo {
    width: 100%;
    height: auto;
  }

  .article-photo-video .main-content {
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .many-articles li.other-li p {
    font-size: 20px;
    line-height: 35px;
  }

  .block {
    margin-bottom: 34px;
  }

  .col .main-other p {
    padding: 0;
  }

  .col.big,
  .col {
    margin-bottom: 0;
    width: 100%;
    padding: 0 25px;
  }

  .mob-table .col {
    padding: 0;
  }

  .big .block h3 {
    font-size: 25px;
    line-height: 31px;
  }

  .main-content .col {
    width: 100%;
  }

  .many-articles li {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: none;
    padding: 0;
    margin-bottom: 34px;
  }

  .many-articles li.other-li,
  .main-other {
    min-height: 500px;
  }

  .many-articles {
    width: 100%;
    max-width: none;
  }

  .mob-table {
    display: table;
    margin:0 25px;
  }

  .mob-table .big-block {
    display: table-header-group;
  }

  .mob-table .big-block p {
    margin-bottom: 34px;
  }

  .mob-table .big-block p.small-title {
    padding-bottom: 0;
  }

  .big-block, .many-articles {
    padding: 0;
    box-sizing: border-box;
  }

  .mob-table .col.big {
    display: table-header-group;
  }

  .mob-table .col {
    display: table-footer-group;
  }

  .main-cont_2 .mob-table .many-articles {
    display: block;
  }

  .mob-table .many-articles {
    display: none;
  }
  .col.hidden,
  .hidden {
    display: none;
  }

  .opa-hid {
    opacity: 1;
  }

  .article-photo-video .col.big {
    margin-bottom: 35px;
  }

  .article-photo-video .description-afisha p.stile-p {
    font-size: 18px;
    line-height: 24px;
  }

  .article-photo-video .col.big p {
    margin-bottom: 50px;
  }

  .article-photo-video .description-afisha p.stile-p {
    font-size: 18px;
    line-height: 24px;
  }

  .col .main-other p {
    font-size: 35px;
    line-height: 46px;
  }
  .content.result-words .many-articles {
    margin-bottom: 14px;
  }

  .result-words .block {
    min-height: auto;
  }

  .photos .article-photo:last-child {
    padding-bottom: 0;
  }

}

@media (max-width: 852px) {
  .associates h5 {
    height: 60px;
  }
}

@media (max-width: 768px) {
  .navBurger-2 {
    display: block;
    top: 15px;
  }

  .header {
    margin-bottom: 47px;
    height: 66px;
  }

  .all-stile .col.big p {
    margin-bottom: 0;
  }

  .menu {
    display: none;
  }

  .quantity {
    width: 26px;
    height: 32px;
    background: url(../images/quantity-mob.png) center no-repeat;
  }

  .quantity:hover {
    background: url(../images/quantity-hover-mob.png) center no-repeat;
  }

  .page-2 .quantity:hover {
    background: url(../images/quantity-mob.png) center no-repeat;
  }

  .search-quantity {
    display: none;
  }

  .top-header {
    padding: 15px 0;
  }

  .bor-top {
    padding-top: 42px!important;
  }

  .dept .top-header, .about .top-header, .article-p_v .top-header {
    padding: 15px 0 ;
  }

  .header.article-p_v {
    margin-bottom: 0;
  }

  .logo {
    width: 226px;
    height: 30px;
    background: url("../images/logo-mobile.png") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .all-stile h1 br {
    display: none;
  }

  .quan-solyan,
  .quan-solyan::before{
    display: none;
  }

  .quantity:hover .quan-solyan {
    display: none;
  }

  .big-block {
    width: 100%;
  }

  .main-content ul {
    width: 100%;
  }

  .many-articles li {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: none;
    padding: 0;
    margin-bottom: 34px;
  }

  .many-articles li.other-li,
  .main-other {
    min-height: 500px;
  }

  .col h3 {
    font-size: 25px;
    line-height: 31px;
  }

  .photo-article {
    margin-bottom: 19px;
  }

  p.small-title {
    margin-bottom: 8px;
  }

  .big-block h3 {
    margin-bottom: 16px;
  }

  .big-block p {
    margin-bottom: 0;
  }

  .big-block {
    margin-bottom: 34px;
  }

  .many-articles li.other-li p {
    font-size: 35px;
    line-height: 46px;
  }

  .many-articles.many-articles-2 li {
    width: 100%;
  }

  .main-other, .many-articles li {
    margin-bottom: 14px;
  }

  .main-content h4 {
    font-size: 35px;
    line-height: 41px;
  }

  .main-cont_1 .many-articles {
    width: 100%;
    max-width: none;
  }

  .read-more {
    margin-bottom: 40px;
  }

  .fot_menu {
    display: none;
  }

  .social-fot {
    border-top: none;
  }

  .center {
    padding: 0 10px;
  }

  .search-block {
    margin-top: 170px;
  }

  .search-block input {
    width: 70%;
  }

  .srch, .clouse {
    width: 15%;
  }

  .top-title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  .afisha-content h1 {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 15px;
  }

  .author {
    line-height: 21px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5 ;
    margin-bottom: 50px;
  }

  .performances .author {
    margin-bottom: 47px;
  }

  .performances .description-afisha {
    padding: 0;
  }

  .main-center {
    padding: 0 10px;
  }

  .name-photo {
    display: none;
  }

  .about_us-content .photo {
    margin-bottom: 46px;
  }

  .all-stile .name-photo {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 50px;
  }

  .counter span {
    font-size: 12px;
    line-height: 14px;
  }

  .name-producer span {
    font-size: 18px;
  }
  .full-screen::before {
    display: none;
  }


  .photo-producer {
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .border-b2 {
    margin-bottom: 25px;
  }
  .main-content h2 {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 28px;
  }


  .description-afisha h3 {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 32px;
  }

  .info-afisha {
    margin-top: 32px;
    margin-bottom: 47px;
    padding-top: 26px;
    padding-bottom: 0;
  }

  .info-afisha .item {
    width: 50%;
    padding-right:0;
    margin-bottom: 31px;
  }

  .soc-share {
    margin-bottom: 50px;
  }

  .about_us-content h1 {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 50px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .result-words h1 {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 27px;
    padding-bottom: 0;
  }

  .result {
    margin-bottom: 43px;
  }

  .about_us-content p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .associates {
    padding-bottom: 0;
    margin-bottom: 43px;
  }

  .associate-item {
    width: 100%;
    margin-bottom: 46px;
  }

  .communications,
  .services{
    padding-bottom: 22px;
  }


  .about_us-content h4 {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 44px;
  }

  .associates.services .associate-item {
    width: 100%;
    margin-bottom: 0;
  }

  .associates.services .associate-item h5 {
    margin-bottom: 25px;
  }

  .associates.services .associate-item h5 br {
    display: none;
  }

  .associate-item .icon {
    margin-bottom: 25px;
  }

  .associates.communications .associate-item  {
    margin-bottom: 28px;
  }

  .associates h5 {
    height: auto;
  }

  .associates p {
    margin-bottom: 50px;
  }

  .hide {
    display: none;
  }

  .shows-mobile {
    display: block;
  }

  .full-screen {
    min-height: 215px;
    background: url("../images/mob-photo-1.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 47px;
  }

  .description-afisha {
    width: auto;
  }

  .description-afisha p,
  .article-photo-video .description-afisha p{
    font-size: 15px;
    line-height: 21px;
  }

  .description-afisha h5 {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 49px;
    margin-top: 52px;
  }

  .no-photo .description-afisha h5 {
    margin-top: 46px;
    margin-bottom: 34px;
  }

  .no-photo .col.big p {
    margin-bottom: 0;
  }

  .main-content h1 {
    font-size: 35px;
    line-height: 41px;
    margin-top: 43px;
    margin-bottom: 25px;
  }

  .all-stile .description-afisha {
    margin-bottom: 25px;
  }

  .article-photo.big-photo {
    margin-top: 45px;
  }

  .photos .article-photo {
    width: 100%;
    display: block;
    padding: 0 0 30px 0;
    margin-bottom: 0;
  }

  .photos .article-photo:last-child {
    padding-bottom: 0;
  }

  .photos .name-photo {
    padding: 0;
  }

  .col.big {
    padding: 0 20px;
  }

  .article-photo-video .col.big h1 {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 16px;
  }

  .article-photo-video .col.big span {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  .photos {
    margin: 50px -20px;
  }

  .description-afisha {
    padding: 0 10px;
  }

  .color-block {
    display: none;
  }

  .quote {
    margin: 45px 0;
  }

  .quote h3 {
    font-size: 25px;
    line-height: 29px;
  }

  .quote p {
    font-size: 15px;
    line-height: 21px;
    margin-top: 22px;
  }

  .pictogram {
    margin-top: 51px;
  }

}

@media (min-width: 768px) {
  .hidden-table {
    display: none;
  }
}

@media (max-width: 600px) {
  .social-fot ul {
    line-height: 0;
    font-size: 0;
  }

  .social-fot ul li {
    font-size: 17px;
    line-height: normal;
    width: 50%;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  li.soc-f::before {
    left: 10px;
  }
  li.soc-i::before,
  li.soc-t::before {
    left: 0px;
  }
  li.soc-y::before {
    left: -2px;
  }

  .social-fot {
    padding: 0;
    padding-bottom: 20px;
  }


  .soc-share .soc-item {
    width: 25%;
  }

  .block {
    min-height: auto;
  }

  .pages li:last-child a,
  .pages li:first-child a {
    display: none;
  }

}

@media (min-width: 321px) and (max-width: 375px) {
  .footer-form label input[type="text"] {
    max-width: 250px;
  }
}
@media  (max-width: 321px) {
  .footer-form label input[type="text"] {
    max-width: 230px;
  }
}
