
@font-face {
  font-family: 'GTWalsheimPro';
  src: url('GTWalsheimPro.eot?#iefix') format('embedded-opentype'),  url('GTWalsheimPro.otf')  format('opentype'),
	     url('GTWalsheimPro.woff') format('woff'), url('GTWalsheimPro.ttf')  format('truetype'), url('GTWalsheimPro.svg#GTWalsheimPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
