
@font-face {
  font-family: 'CoreSansNR-55Medium';
  src: url('CoreSansNR-55Medium.eot?#iefix') format('embedded-opentype'),  url('CoreSansNR-55Medium.otf')  format('opentype'),
	     url('CoreSansNR-55Medium.woff') format('woff'), url('CoreSansNR-55Medium.ttf')  format('truetype'), url('CoreSansNR-55Medium.svg#CoreSansNR-55Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
